<td><u title="{{fieldInfo.description}}">{{fieldInfo.name}}</u></td>
<td><div>{{displayText}}</div><div class="annotations"></div></td>
<td><a class="fa-regular fa-message comment" role="button"></a></td>
