<td><u title="{{fieldInfo.description}}">{{fieldInfo.name}}</u></td>
<td><div>
    {{#linkedRecordUri}}<a href="/record/{{linkedRecordUri}}" target="_blank" title="Go to linked record">{{displayText}}</a>{{/linkedRecordUri}}
    {{^linkedRecordUri}}{{displayText}}{{/linkedRecordUri}}
</div><div class="annotations"></div></td>
<td><a class="fa-regular fa-message comment" role="button"></a></td>
