<h5 class="mb-2">{{title}} <small>click any field to annotate</small></h5>
<div class="bg-light">
    <table class="table"><tbody></tbody></table>
    {{#editable}}
    <button type=button class="btn btn-default">New field</button>
    {{/editable}}
</div>
