<h5 class="mb-2">Comments and tags</h5>
<div>
    <table class="table table-light table-hover"><tbody></tbody></table>
    {{#editable}}
    <button type=button class="btn btn-primary new-comment">New comment</button>
    <button type=button class="btn btn-primary new-tag">New tag</button>
    {{/editable}}
</div>
