<form id="search">
    <div class="input-group">
        <input type="text" class="form-control" name="search" id="query-input" placeholder="Query">
        <button type="submit" id="query-submit" class="btn btn-primary">Search</button>
        <button
            type="button"
            class="btn btn-default"
            id="search-info"
            data-bs-toggle="popover"
            title="Advanced search in HPB"
            data-placement="left">
            <span class="fa fa-info" aria-hidden="true"></span>
        </button>
    </div>
</form>
