<td title="{{publishedDate}}{{#updatedDate}} (updated: {{updatedDate}}){{/updatedDate}}">{{#isTag}}<b>Tag: </b>{{/isTag}}{{displayText}} {{#author}}<span class="authored-by">@{{author}}</span>{{/author}} </td>
