<td title="{{#originalText}}Text before correction: {{originalText}}. {{/originalText}}{{publishedDate}}{{#updatedDate}} (updated: {{updatedDate}}){{/updatedDate}}"><span {{#isFieldComment}}class="field-annotation"{{/isFieldComment}}>{{#isTag}}<b>Tag: </b>{{/isTag}}{{displayText}} </span>{{#author}}<span class="authored-by">@{{author}}</span>{{/author}} </td>
