<h2 class="mt-2">Welcome to the EDPOP Virtual Research Environment!</h2>
<div class="card">
    <div class="card-body bg-light">
        Use the dropdown menu above to select which database (VRE collection or external database) you would like to browse or search.
    </div>
</div>
