<a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
    id="collection-menu-title" aria-haspopup="true" aria-expanded="false">Collections
</a>
<div class="dropdown-menu" aria-labelledby="collection-menu-title">
    <div role="separator" class="dropdown-divider"></div>
    <form class="form-inline">
        <div class="form-group">
             <label for=collection-name-{{&cid}} class="sr-only">
                  Name
             </label>
             <input
                 type=text
                 id=collection-name-{{&cid}}
                 placeholder="Name"
                 class="form-control"
             >
        </div>
        <button type=submit class="btn btn-primary btn-sm" aria-label="Create">
            <span class="fa-solid fa-plus" aria-hidden=true></span>
        </button>
    </form>
</div>
