<a class="nav-link dropdown-toggle" href="#" id="catalog-menu-title" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External catalogs</a>
<div class="dropdown-menu" aria-labelledby="catalog-menu-title"></div>
