{{#isBibliographical}}
<span class="fa fa-book" aria-hidden=true></span>
<span class="visually-hidden">Bibliographical</span>
{{/isBibliographical}}
{{#isBiographical}}
<span class="fa fa-user" aria-hidden=true></span>
<span class="visually-hidden">Biographical</span>
{{/isBiographical}}
