<h5 class="mb-2">About this record</h5>
<div id="record-about">
    <p>
        {{#fromCatalog}}From <b>{{fromCatalog}}</b> ({{databaseId}}){{/fromCatalog}}
    </p>
    <p>{{#publicURL}}<a href="{{publicURL}}" target="_blank" class="btn btn-primary">Show record in original database</a>{{/publicURL}}</p>
</div>
