<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="btn-group mr-2">
                <button class="btn btn-outline-primary" id="load_previous">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
                <button class="btn btn-outline-primary" id="load_next">
                    <span class="fa fa-arrow-right" aria-hidden="true"></span>
                </button>
            </div>
            <h4 class="modal-title">
                {{>typeIcon}}
                {{title}}
            </h4>
            <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
            ><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

            <ul class="inline-list">
                {{#databaseId}}<li>ID in database: {{databaseId}}</li>{{/databaseId}}
                {{#publicURL}}<li><a href="{{publicURL}}" target="_blank">Show record in original database</a></li>{{/publicURL}}
            </ul>
        </div>
        <div class="modal-footer">
            <button type=button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
