{{#isBibliographical}}
<span class="fa fa-book" aria-hidden=true></span>
<span class="sr-only">Bibliographical</span>
{{/isBibliographical}}
{{#isBiographical}}
<span class="fa fa-user" aria-hidden=true></span>
<span class="sr-only">Biographical</span>
{{/isBiographical}}
