{{#isBibliographical}}
<span class="glyphicon glyphicon-book" aria-hidden=true></span>
<span class="sr-only">Bibliographical</span>
{{/isBibliographical}}
{{#isBiographical}}
<span class="glyphicon glyphicon-user" aria-hidden=true></span>
<span class="sr-only">Biographical</span>
{{/isBiographical}}
